.item {
	display: flex;
	gap: 0.75rem;
	padding: 1rem;
	background-color: var(--gray-500);
	border: 1px solid var(--gray-400);
	border-radius: 8px;
}

.item + .item {
	margin-top: 0.75rem;
}
.itemDone {
	border: 1px solid var(--gray-500);
}
.itemDone .title {
	color: var(--gray-300);
	font-weight: bold;
	text-decoration: line-through;
}

.checkIcon {
	height: 18px;
}
.checkIcon span {
	cursor: pointer;
	height: 18px;
	width: 18px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.checkIcon .unchecked {
	border: 1px solid var(--blue);
}

.checkIcon .checked {
	background: var(--purple);
	color: var(--white);
}

.title {
	font-size: 0.875rem;
	flex: 1;
}

.removeIcon {
	height: 18px;
}

.removeIcon svg {
	cursor: pointer;
	transition: 100ms ease color;
}

.removeIcon svg:hover {
	color: var(--danger);
}
